	/*Create Base font for relative sizing*/
html {height:100%;}
body {width:100%;height:100%; margin:0;padding:0;font-size:15px;text-align: center;}
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button,.ui-widget, body, input, textarea, select {font-family:Ubuntu, Tahoma, Arial, Helvetica, sans-serif;}
td, textarea {font-size:1em;}

/*Basic tag setup for creating standards across platforms and browsers*/
p, h1, h2, h3, h4, h5 {padding:0; margin:0; vertical-align:top;}
p {padding:0 0 1.75em; margin:0; font-size:1em; line-height:1.25em;}
p.tight {padding:0 0 0.75em;}
h1 {padding:0.1em 0 0.5em;margin:0;font-weight: normal;font-size: 1.5em;}
h2 {padding:0.1em 0;margin:0;font-weight: normal;font-size:1.5em;}
h3 {font-size:1.25em; padding:0.5em 0 0.5em 0; margin:0;font-weight:normal;}
h4 {font-size:1em; padding:0.5em 0 0.5em; margin:0;font-weight:normal;}
h5 {font-size:0.75em; padding:0.5em 0 0.5em 0; margin:0;font-weight:normal;}
img {border:0}
em {font-style: italic;}
strong {font-weight: bold;}
ol, ul {margin:0 0 0 2.5em;padding:0 0 1em;}
ul ul, ul ol, ol ul, ol ol {margin:0 0 0 2.5em;padding:1em 0 0em;}
li {padding:0em 0 1em;margin:0;}
blockquote {padding:0 0 2em; margin:0em 2.5em;}
blockquote blockquote {padding:1em 0 2em; margin:0em 2.5em;}
a:link {text-decoration:none;}
a:visited {text-decoration:none;}
a:hover {text-decoration:underline;}
a:active {text-decoration:underline;}
input[readonly] {border: none; background: none;}
input,textarea {box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;}
option {font-size:1em;}
input.defaultbutton {position: absolute; left: -100%; width: 0; height: 0;}
#clearbutton 
    {
    margin: 10px 5px 0 0;
    width: 122px;
    }
#searchbutton
    {
    width: 122px;
    margin: 10px 0 0 0;
    }
/*General tags*/
.clearer {clear:both;}
.clearerleft {clear:left;}
.Hidden {visibility: hidden;height: 0;width: 0;overflow: hidden;}
.nowrap {white-space:nowrap;}
.textcenter {text-align:center;}
.breakall {word-break:break-all;}

/* General Form tags */
.checkoption {vertical-align: top;display: inline-block;width: 195px;margin: 2px; *display:inline;*zoom: 1;}
.checkbox {margin-right: 3px;vertical-align: top;display: inline-block;*display:inline;*zoom: 1;}
.checkboxtext {margin-right: 2px;width: 160px;display: inline-block;*display:inline;*zoom: 1;}
.checkboxes{margin-top: 5px;padding-left: 300px;}
.verticalcheckboxes {padding-left: 300px;}
.checkboxtext .customFieldLabel {float:none;}
.editcheckboxes {float:left;padding-left: 300px;}

.radioblock { float: left;padding-left: 300px;clear: left;margin-top: -1em;}
.radiotext label.customFieldLabel {float:none;}
.radiotext {margin-right: 2px;width: 160px;display: inline-block;*display:inline;*zoom: 1;}
.radio{margin-right: 3px;vertical-align: top;display: inline-block;*display:inline;*zoom: 1;}
.radiooption {vertical-align: top;display: inline-block;width: 195px;margin: 2px; *display:inline;*zoom: 1;}
#custom_access {padding-left: 300px;}
#custom_access .radiooptions{margin: 5px;}

/*General layout*/
#Header {margin:20px 25px;padding:0;text-align:left;}
#TextHeader{font-size:25px;float:left;}
#TextHeader a {text-decoration:none;}
#TextDesc{font-size:1em;float:left;display:block;clear:left;}
#HeaderNav1 {text-align:right;height:40px;}
#HeaderNav2 {text-align:right;margin-top: 28px;margin-bottom: 4px;}

.headerlink {margin:20px 25px; position: absolute; display: block; width: 400px; height: 55px;  top: 0px; left: 0px;}
.TeamCentreAlertIcon { position: relative; top: 3px;}

/* Slimheader */
.SlimHeader .ui-layout-container{min-width:1100px;overflow:scroll;}
.SlimHeader #CentralSpaceContainer {margin: 20px 25px 20px;padding: 0 282px 0 0;text-align: left;}
.SlimHeader #Header {margin: 0;padding: 5px 25px 5px 25px;background-image:none;}
.SlimHeader #HeaderNav1, .SlimHeader #HeaderNav2 {margin:0;padding:0;line-height: 35px;}
.SlimHeader #HeaderNav1 {float:right;}
.SlimHeader #HeaderNav2 {float:left; padding-left: 10px;}
.SlimHeader #HeaderNav1 ul, .SlimHeader #Headernav2 ul {padding: 0.2em 0.5em;}
.SlimHeader .HeaderImgLink{float:left;height:100%;}
.SlimHeader #HeaderImg{height:40px;margin:0;}
.SlimHeader .HorizontalNav li, .SlimHeader .HorizontalNav li {display: inline-block;zoom: 1;*display: inline;}
.SlimHeader .HorizontalNav li a, .SlimHeader .HorizontalNav li a{display: inline-block;zoom: 1;*display: inline;}
.SlimHeader #SearchBarContainer {margin-top: 20px;}
.SlimHeader .RecordBox {margin: 10px 20px 10px 0;}
.SlimHeader .CollectBack h2 {display:none;}
.SlimHeader #Header.slimheader_darken{color: #FFFFFF;background: #293340 url(../gfx/whitegry/interface/CollectBack.gif) repeat-x;}
.SlimHeader #Header.slimheader_darken a:link, .SlimHeader #Header.slimheader_darken a:visited, .SlimHeader #Header.slimheader_darken a:active {color: #E1E8F0;}

#Footer {clear: both; margin:20px 25px;padding:0;text-align:left;}
#FooterNavRight {float:right;text-align:right;margin-top: 10px;clear: right;}
#FooterNavRightBottom {float:right;text-align:right;margin-top: 10px;clear: right;}
#FooterNavLeft {float:left;text-align:left;margin-top: 10px;}
#FooterLanguages{margin-left:15px;}

#CentralSpaceContainer {margin:0px 25px 20px;padding:0 282px 0 0;text-align:left;}
#CentralSpaceContainerRestrict {margin:0px 15px 20px 25px;padding:0;text-align:left;}
#CentralSpaceLogin {margin: 2em auto 4em;padding:0;width: 700px;text-align:left;}
#CentralSpace {text-align:left;}

.TopInpageNav {clear: left;padding-bottom: 5px;margin-bottom:10px;margin-right: 15px;position:relative;}
.BottomInpageNav {clear: left;padding-top: 5px;margin: 20px 15px 0px 0px; position:relative;}
.BottomInpageKey {margin-right: 15px; clear: left; text-align: left;}
.TopInpageNavLeft{float:left;padding-right:240px;}
.TopInpageNavRight{position:absolute;right:0;top:0;width:280px;text-align:right;}
.InpageNavLeftBlock {display:inline-block; *display: inline; *zoom: 1;text-align:left;margin: 0 20px 0 0;}
.InpageNavRightBlock {display:inline-block; *display: inline; *zoom: 1;text-align:left;margin: 0 15px 0 0;}
.BottomInpageNavLeft {float:left;}
.BottomInpageNavRight{float:right;margin-right:10px;text-align:right;}
.BottomInpageNavRight .TopInpageNavRight {position:relative;}
.TopInpageNav a:link, .TopInpageNav a:visited, .BottomInpageNav a:link, .BottomInpageNav a:visited , #CentralSpaceLogin a:link, #CentralSpaceLogin a:visited {text-decoration:none;}
.TopInpageNav a:hover, .TopInpageNav a:active, .BottomInpageNav a:hover, .BottomInpageNav a:active, #CentralSpaceLogin a:hover, #CentralSpaceLogin a:active {text-decoration:underline;}
.Selected {font-weight: bold;}
#jumppanel1{margin-top:45px !important;padding: 10px;}
#jumppanel3{margin-top: 20px !important;text-align: right;}
.TopInpageNav #jumppanel2{margin-top: 35px !important;text-align: right;float: right;}

.HorizontalNav ul {padding:0.2em 0;margin:0;list-style:none;}
.HorizontalNav li {display:inline;padding:0 0.35em 0 0.5em;margin:0px;}
.HorizontalNav a:link, .HorizontalNav a:visited {text-decoration:none;}
.HorizontalNav a:hover, .HorizontalNav a:active {text-decoration:underline;}
.HorizontalWhiteNav li:first-child {border-left:none;}
.HorizontalNav li:first-child {border-left:none;}
#CollectionMinRightNav li:first-child {border-left:none;}

/*Collection layout*/
#CollectionMenu{width: 206px;position: absolute;left: 25px;top: 6px;text-align:left;}
#CollectionMenuExp{width: 216px;position: absolute;left: 25px;top: 6px;text-align:left;}
#CollectionSpace{font-size: 0.95em;text-align:left;}
.CollectionSpace{position: absolute;left: 249px;top: 6px;}
.CollectionSpaceExp {position: absolute;left: 249px;top: 6px;font-size: 0.95em;text-align:left;}
.CollectionStatsAnon {margin-bottom:15px;}
.CollectBack h2 {font-size: 1.3em;}
#CollectionMenu ul {padding:0.2em 0;margin:0;list-style:none;}
#CollectionMenu li {padding:0;margin:0px 8px 1px 0px;float:left;white-space:nowrap;}
#CollectionMenuExp ul {padding:0.2em 0;margin:0;list-style:none;}
#CollectionMenuExp li {padding:0;margin:0px 8px 1px 0px;float:left;white-space:nowrap;}
.CollectBack a:link, .CollectBack a:visited {text-decoration:none;}
.CollectBack a:hover, .CollectBack a:active {text-decoration:underline;}

.CollectBack form {padding:0; margin:0;}
.CollectBack .SearchWidth {width: 150px;font-size: 0.9em;margin: 0px 0px;padding: 0px;}
.CollectBack .SearchWidthExp {width: 200px;font-size: 0.9em;margin: 0px 0px;padding: 0px;}
.CollectBack .SearchItem {margin: 0 0 10px;padding: 0;}
.CollectBack .MinSearchItem {margin: 0;padding: 0;}

#CentralSpace .SearchWidth {width: 550px;font-size: 0.9em ;margin: 0px 0px;padding: 0px;}
#CentraSpace .SearchWidthExp {width:200px;font-size: 0.9em ;margin: 0px 0px;padding: 0px;}


.CollectionPanelShell {padding:0;float: left;margin: 0px 15px 5px 0px;width: 97px;height: 120px;}
.CollectionPanelInfo{}
.CollectionResourceAlign {width:97px;height:85px;text-align: center;vertical-align: middle;}

#CollectionMinTitle{float: left;margin: 4px 10px 0px 25px;}
#CollectionMinDropTitle{float: left;padding:0.2em 0em;margin-top: 6px;}
#CollectionMinDrop{float: left;margin: 6px 0px 0px;padding:0.2em 0em}
#CollectionMinDrop form{margin:0;padding:0}
#CollectionMinitems{float: left;margin: 5px 10px 0px;padding:0.35em 0em}
#CollectionMinRightNav{float: right;margin: 5px 25px 0px 0px;padding:0.25em 0em}
.CollectionTitleLinks a {margin: 5px 4px;}

#CollectionMinDrop .SearchWidth {width: 150px;margin:0;padding: 0;}
#CollectionMinDrop .SearchWidthExp {width: 200px;font-size: 0.7em ;margin:0;padding: 0;}
#CollectionMinRightNav ul {padding:0em 0;margin:0;list-style:none;}
#CollectionMinRightNav li {display:inline;padding:0 0.35em 0 0.5em;margin:0px;}


/*Right Search Box layout*/
#SearchBox {padding:0;float: right;width: 282px;margin: 0px 25px 0px 0px;display:inline;text-align:left;}
#SearchBoxPanel {width: 280px;}
#ResearchBoxPanel {width: 280px;margin-top: 15px;}

/*Resource Panel layout*/
.ResourcePanelShell {padding:0;float: left;margin: 0px 15px 10px 0px;width: 174px;}
.ResourcePanel {padding:0;margin:0;width: 172px;padding-bottom:5px;}
.ResourcePanelPreview {height: 156px;width: 156px;margin: 3px;}
.ResourcePanelInfo {margin-right: 5px;margin-left: 5px;margin-bottom: 4px;overflow:hidden;white-space:nowrap;padding:0;margin-top:0;}	
.ResourcePanelCountry {margin-right: 5px;margin-left: 5px;margin-bottom: 0px;float: left;clear: left;display:inline;}	
.ResourcePanelIcons {padding-left: 5px;display:inline;}	
.ResourcePanelSmallIcons {padding-left: 5px;display:inline;}	
/*.ResourcePanelIcon {margin-right: 3px;margin-left: 5px;display: block;float: right;}
.ResourcePanelIcon img {margin-left: 2px;border-style: none;}*/
.ResourceAlign {width:172px;height:177px;text-align: center;vertical-align: middle;}
.ResourceTypeIcon { height: 16px;width:16px;float:right;margin-right:5px;margin-top:6px; }
.IconResourceType1  {background: url(../gfx/interface/IcPhoto.png); }
.IconResourceType2  {background: url(../gfx/interface/IcDocument.png);}
.IconResourceType3  {background: url(../gfx/interface/IcVideo.png);}
.IconResourceType4  {background: url(../gfx/interface/IcAudio.png);}
.ResourcePanelShell a:link, .ResourcePanelShell a:visited {text-decoration:none;}
.ResourcePanelShell a:hover, .ResourcePanelShell a:active {text-decoration:underline;}


.ResourcePanelShellSmall {padding:0;float: left;margin: 0px 15px 10px 0px;width: 105px;}
.ResourcePanelSmall {padding:0;margin:0;width: 105px;padding-bottom:5px;}
.ResourceAlignSmall {width:105px;height:90px;text-align: center;vertical-align: middle;}

.ResourcePanelShellLarge {padding:0 0 10px; float: left;margin: 0px 15px 0px 0px;width: 365px;}
.ResourcePanelLarge {padding:0;margin:0;width: 365px;padding-bottom:5px;}
.ResourceAlignLarge {width:365px;height:365px;text-align: center;vertical-align: middle;}

.IconCollect	{width: 22px;height:12px;padding: 0;display: block;float: right;margin-right: 5px;}
.IconCollectOut	{width: 22px;height:12px;padding: 0;display: block;float: right;margin-right: 5px;}
.IconEmail	{width:16px;height:12px;padding: 0;display: block;float: right;margin-right: 5px;}
.IconPreview	{width:16px;height:12px;padding: 0;display: block;float: right;margin-right: 5px;}
.IconStar	{width:11px;height:12px;padding: 0;display: block;float: right;}
.IconRemove		{width:14px;height:12px;padding: 0;display: block;float: right;}
.IconComment	{width:16px;height:12px;padding: 0;display: block;float: right;}
.ResourceSelect {display:block;float:right;}
.IconUserRatingStar	{width:13px;height:15px;padding: 0;margin-bottom:6px;display: block;}
.IconUserRatingSpace	{width:7px;height:10px;padding: 0;margin-bottom:6px;display: block;float: left;}
.KeyComment {margin: 0px 5px 10px;display: inline;padding-left: 19px;}
.KeyStar {margin: 0px 5px 10px;display: inline;padding-left: 14px;}
.KeyEmail {margin: 0px 5px 10px;display: inline;padding-left: 19px;}
.KeyPreview {margin: 0px 5px 10px;display: inline;padding-left: 19px;}
.KeyCollect {margin: 0px 5px 10px;display: inline;padding-left: 25px;}
.KeyCollectOut {margin: 0px 5px 10px;display: inline;padding-left: 25px;}
.ASC {display: inline;padding-right: 10px;}
.DESC {display: inline;padding-right: 10px;}

/*Resource Panel layout*/
.Listview {	margin: 25px 10px 25px 0;}
.ListviewTight {margin: 5px 10px 5px 0;}
.Listview table{ width:100%;}
.Listview td {padding: 5px 5px 5px 5px;}
.ListTools {text-align: right;}
.ListTitle {font-weight: bold;}
.ListTools a:link, .ListTools a:visited, .ListTitle a:link, .ListTitle a:visited {text-decoration:none;}
.ListTools a:hover, .ListTools a:active, .ListTitle a:hover, .ListTitle a:active {text-decoration:underline;}
.Listview .IconStar	{width:11px;height:12px;padding: 0;display: block;float:left;}

/*Search Panel layout*/
.SearchSpace {padding: 15px;width: auto;}
.SearchSpace p {padding:0 0 0.5em; margin:0; font-size:1em; line-height:1.1em;}
.SearchSpace form {padding:0; margin:0;}
.SearchSpace .SearchWidth {width: 250px;font-size: 1em;margin: 3px 0px;padding: 0px;}
.SearchSpace .SearchWidthHalf {width: 120px;margin: 5px 5px 5px 0;padding: 0px;}
.SearchSpace .SearchWidthRight {margin-right:0;}

.SearchSpace .tick {margin:2px;}
.SearchSpace .tickindent {margin-left:12px;}
.SearchSpace .SearchItem {margin: 10px 0 0;padding: 0;font-weight: bold;}
.SearchSpace a:link, .SearchSpace a:visited {text-decoration:none;}
.SearchSpace a:hover, .SearchSpace a:active {text-decoration:underline;}

.ListDropdown {width: 115px;font-size: 0.7em;margin:0px;padding: 0px;height:18px;}

/*Forms*/
#CentralSpaceLogin form {margin:0;padding:0;}
.Question{padding: 0.5em 0em 1em;}
.QuestionSubmit{	padding: 0.75em 0em 1em;margin-top: 1em;}
.Question label, .QuestionSubmit label{	width: 300px;float: left;margin-top: 0.4em;}
.Question .customFieldLabel { width: auto; margin: 0;}
.Question .customFieldset { padding: 0; border: 0;}
.Question #capswarning { margin-left: 190px; display: none; color: red;font-weight: bold;}
.Question .Lineup {margin: 3px 0px;}
.Question .stdwidth,.stdwidth{width: 360px;font-size: 1em;margin: 3px 0px;}
.Question select {font-size: 1em ;margin: 3px 0px;}
.Question .medwidth,.medwidth{width: 250px;font-size: 1em;margin: 3px 0px;}
.Question .shrtwidth,.shrtwidth{width: 145px;font-size: 1em;margin: 3px 0px;}
.Question .vshrtwidth{width: 93px;font-size: 0.9em;margin: 3px 0px;}
.Question .medcomplementwidth{width: 105px;font-size: 1em;margin: 3px 0px 0px 2px;}
.Question .Inline {float: left;margin: 3px 10px 0px 0px;}
.Question .tickset {float: left;}
.Question .OptionTable, .Question .OptionToggle {margin: 0 0 0 190px;padding:0;}
.Question .InnerLabel {width:60px; margin-top:  0px;}
.Question .ExifOptions {margin: 0 0 0 290px;padding:0;}
.Question.FieldSaveError {background-color: #F1A9A0;}

.FormWide .Question label{width: 20%}
.FormWide .Question .stdwidth, .FormWide .Question .tickset{width: 80%}
.FormWide .Question .tickset .stdwidth{width: 99%}
.FormWide .Question .FormHelp {margin: 0px 10px 10px 20%;}
.FormWide .Question .FormHelp .FormHelpInner {width: 99%}


.Question .Fixed {    width: 300px;float: left;margin-top: 0.4em;font-weight: bold;} 
.FormError{font-weight: bold;font-size: 1.1em;margin: 0px 0px 10px 190px;padding: 10px 0px 0px;}
.FormIncorrect {font-weight: bold;font-size: 1.1em;margin: 0px 0px 25px;text-align: center;padding: 3px 3px 6px;}
.PageInformal, .PageInfoMessage{font-weight: bold;font-size: 1.1em;margin: 0px 0px 25px;text-align: center;padding: 3px 3px 6px;}
.AutoSaveStatus {font-weight: bold;float:right;padding:6px 0 0;}
.PurgeUsersMonths {width:4em;}
/*Record Panel layout*/
.RecordBox {margin: 20px 15px 15px 0px;}
.RecordPanel {padding: 15px 20px 15px 20px;}
.RecordPanel .RecordHeader {}
.RecordPanel h1 {}
.backtoresults {float: right;margin: 0.4em 0 0 0.25em;} 

.RecordPanel .RecordResouce {position:relative;clear: left;} 
.RecordPanel .Picture {float: left;margin: 0px 0px 0px 0px;}
#previewimagewrapper {float:left;margin: 0px 10px 10px 0px;}

.RecordPanel .PictureDoc {float: left;margin: 50px 130px;}

.RecordPanel .Detail {float: left;}

.RecordPanel form { margin:0; padding:0;}
.RecordPanel .Title {padding:0.1em 0 0.5em;margin:0 0 10px;font-weight: normal;font-size:1.5em;clear: left;}

.NoFind {font-size: 1.1em;margin: 50px 0px 25px;text-align: center;padding: 15px 3px 16px;}

.RecordPanel .Col {float: left;width: 352px;margin-bottom: 10px;}
.RecordPanel .ColNarrow {float: left;width: 171px;margin-bottom: 10px;}
.RecordPanel .buffer {margin-right: 10px;}
.RecordPanel .itemNarrow {word-wrap: break-word; float: left;width: 170px;margin-bottom: 10px;margin-right: 5px;position:relative;} 
.RecordPanel .SearchSimilar {float: left;width: 120px;margin: 0px 10px 2px 0px;padding: 0px;}
.RecordPanel .item {word-wrap: break-word; float: left;margin-bottom: 10px;width: 100%;position:relative;}
.RecordPanel .item h3, .RecordPanel .itemNarrow h3 {font-size: 1em;margin: 0px;padding: 0px;}
.RecordPanel .item p, .RecordPanel .itemNarrow p {margin: 0px;padding: 0px;}
.RecordPanel .RecordDownload {float: left;width: 452px;margin: 0px 0px 10px;}
.RecordPanel .RecordDownload table {width: 440px;margin: 0px;padding: 0px;}
.RecordPanel .RecordDownload td {padding: 5px;margin: 0;}
.RecordPanel .RecordDownload .DownloadDBlend td {margin: 0;vertical-align: middle;}
.RecordPanel .RecordDownloadSpace {padding: 6px;}
.RecordPanel .RecordDownloadSpace ul {padding:0.2em 0;margin:0;list-style:none;}
.RecordPanel .RecordDownloadSpace li {padding:0;margin:0 8px 1px 0;float:left;}
.RecordPanel .RecordDownloadSpace .DownloadDBlend .DownloadButton {text-align: center;font-weight: bold;}
.RecordPanel .RecordDownloadSpace .DownloadDBlend h2 {margin:0;padding:0;font-size: 1em;	text-align: left;}
.RecordPanel .RecordDownloadSpace .DownloadDBlend p {margin:0;padding:0;	text-align: left;}
.RecordStory{padding: 6px;}
.RecordStory h1{font-size:1.25em; padding:0.5em 0 0.5em 0; margin:0;font-weight:bold;}

.RecordPanel h2{font-size:1.25em; padding:0; margin:0.5em 0 0.5em 0;font-weight:bold;}
.RecordPanel p{padding:0; margin:0.5em 0 0.5em 0;}


/* Basic page */
.BasicsBox {margin:20px 15px 15px 0px;}
.BasicsBox h1 {padding: 0px 0px 0.5em;}
.BasicsBox h2 {font-size: 1.2em;margin-bottom: 4px;}
.BasicsBox .HorizontalNav ul {padding:0.2em 0;margin:0 0 1.5em;list-style:none;}
.BasicsBox .HorizontalNav li {display:inline;padding:0em 1em 0em 0em;margin:0em 0.5em 0em 0em;}
.BasicsBox .VerticalNav ul {padding:0.2em 0;margin:0 0 1.5em;list-style:none;}
.BasicsBox .VerticalNav li {padding:0 0.35em 0 0em;margin:0px 0.5em 1em 0px;}
.nopadding,.nopadding .VerticalNav ul {padding:0px;margin:0px;}

/* Themes */
.ThemeBox {float: left;width: 250px;margin: 0px 15px 15px 0px;padding: 0px;}
.ThemeBox ul {padding:0.2em 0;margin:0 0 0.5em;list-style:none;}
.ThemeBox li {padding:0 0.35em 0 0em;margin:0px 0.5em 0.25em 0.25em;}

/*Home styling */
.HomePanel {margin:0px 15px 15px 0px;width: 250px;float: left;} 
.HomePanelIN {padding: 15px;min-height: 150px;}
.HomePanel h2 {font-size: 1.8em;padding-left: 14px;display:block;margin: 5px 0px;}
.HomePanel p {margin: 0; padding: 5px 0 4px 0;}
.HomePicturePanel {    margin:0px 15px 10px 0px;float: left;width: 517px;}
.HomePicturePanelIN img {width:517px; height:350px;}
.HomePicturePanelIN {height: 350px;}
.HomePanelPromoted {min-height: 205px;}
.HomePanelMatchPromotedHeight {min-height: 197px;}
.HomePanelPromotedIN {min-height: 197px;}
.HomePanelPromotedImageWrap {text-align:center;min-height:155px;vertical-align:middle;}

a.HomePanel {text-decoration:none;}
a.HomePanel h2:hover{text-decoration:underline;}
a.HomePanel {cursor:pointer;}

.TabBar {padding:10px 0 0 0;}
.Tab a {margin:0 5px 0 0;padding:2px 5px 0 5px;}
.Tab a:hover {text-decoration: none;}
.Tab {display:inline;}
.StyledTabbedPanel {padding:10px 5px 5px 5px;clear:left;}
.TabSelected a {padding-bottom: 1px;}

.infotable {border-top: 1px solid #999999;}
.infotable td,.infotable th {border-bottom: 1px solid #999999;}

.RecordStory .highlight {background-color:black;padding:2px;}

#InfoBox {display:none;position:absolute;top:0px;left:0px;width:362px;height:303px;background-repeat:no-repeat;
behavior: url('../css/iepngfix.htc');
}
#InfoBoxInner {color:black;margin:15px 32px 15px 18px;height:210px;overflow:hidden;}
#InfoBoxInner h2 {color:black;font-size:1.2em;font-weight:bold;}
#InfoBoxInner p {color:black;padding:0;margin:0 0 5px 0;}

#InfoBoxCollection {display:none;position:absolute;top:0px;left:0px;width:376px;height:112px;background-repeat:no-repeat;
behavior: url('../css/iepngfix.htc');
}
#InfoBoxCollectionInner {color:black;margin:6px 32px 10px 20px;height:90px;overflow:hidden;}
#InfoBoxCollectionInner h2 {color:black;font-size:1.2em;font-weight:bold;text-align:left;}
#InfoBoxCollectionInner p {color:black;padding:0;margin:0 0 5px 0;text-align:left;}


/* Use different icons for the collections bar */
.CollectionPanelInfo .IconComment	{	background: url(../gfx/interface/IcComment.gif) no-repeat;}
.CollectionPanelInfo .IconCommentAnim	{	background: url(../gfx/interface/IcComment_anim.gif) no-repeat;}
.CollectionPanelInfo .IconRemove	{	background: url(../gfx/interface/IcRemove.gif) no-repeat;}

.PDFnav {font-size: 4em; padding:6px;font-weight:bold;}
.PDFnav:hover {text-decoration: none;}

.NewFlag {display:inline;font-size:0.6em;margin-left:5px;padding:1px 3px 1px 3px;}
.Breadcrumbs {float:left;margin-top:4px;}

.CategoryBox {border:1px solid #999999;background-color:#ffffff;overflow:auto;width:360px;height:80px;padding:2px;font-size:1em;color: black;font-weight: normal;}
.MiniCategoryBox {border:1px solid #999999;background-color:#ffffff;overflow:auto;width:auto;height:80px;padding:2px;font-size:1em;color: black;font-weight: normal;}
 
.CategoryTree {border-top:1px solid #737373;border-left:1px solid #999999;border-bottom:1px solid #999999;border-right:1px solid #999999;background-color:white;overflow:auto;width:360px;height:400px;display:none;color: black;font-weight: normal;}
 

.URLDisplay {width: 100%;font-size: 1em;}


/* Autocomplete dropdown CSS - colours can be overridden in the colour CSS files */
div.autocomplete {
  position:absolute;
  width:250px;
  background-color:white;
  border:1px solid #888;
  margin:0px;
  padding:0px;
}
div.autocomplete ul {
  list-style-type:none;
  margin:0px;
  padding:0px;
}
div.autocomplete ul li.selected { background-color: #ffb;}
div.autocomplete ul li {
  list-style-type:none;
  display:block;
  margin:0;
  padding:2px;
  cursor:pointer;
  color: #000;
}

/* CSS for the user ratings */
.StarSelect {background: transparent url('../gfx/interface/RatingStarRed.gif') no-repeat;}
.StarWhite {background: transparent url('../gfx/interface/RatingStarWhite.gif') no-repeat;}
.StarGrey {background: transparent url('../gfx/interface/RatingStarGrey.gif') no-repeat;}
.RatingCount {font-size:0.8em;}
.RatingStars a:hover {text-decoration:none;}
.RatingStars {text-align:center;margin-bottom:5px;margin-top:5px;}
.Listview .ListViewSubTable,.Listview .ListViewSubTable td,.Listview .ListViewSubTable tr {background-image: none;}
.StarEmpty {  background: transparent url('../gfx/interface/RatingStarGrey.gif') no-repeat;}
.StarCurrent { background: transparent url('../gfx/interface/RatingStarWhite.gif') no-repeat;}


/* CSS for the lightbox (for resource feedback) */
#lightbox{	position: absolute;	left: 0; width: 100%; z-index: 100; text-align: center; line-height: 0;}
#lightbox img{ width: auto; height: auto;}
#lightbox a img{ border: none; }

#outerImageContainer{ position: relative; background-color: #fff; width: 250px; height: 250px; margin: 0 auto; }
#imageContainer{ padding: 10px; }

#loading{ position: absolute; top: 40%; left: 0%; height: 25%; width: 100%; text-align: center; line-height: 0; }
#hoverNav{ position: absolute; top: 0; left: 0; height: 100%; width: 100%; z-index: 10; }
#imageContainer>#hoverNav{ left: 0;}
#hoverNav a{ outline: none;}

#prevLink, #nextLink{ width: 49%; height: 100%; background-image: url(data:image/gif;base64,AAAA); /* Trick IE into showing hover */ display: block; }
#prevLink { left: 0; float: left;}
#nextLink { right: 0; float: right;}
#prevLink:hover, #prevLink:visited:hover { background: url(../gfx/lightbox/prevlabel.gif) left 15% no-repeat; }
#nextLink:hover, #nextLink:visited:hover { background: url(../gfx/lightbox/nextlabel.gif) right 15% no-repeat; }

#imageDataContainer{ font-size: 0.7em; background-color: #fff; margin: 0 auto; line-height: 1.4em; overflow: auto; width: 100%	; }

#imageData{	padding:0 10px; color: #666; }
#imageData #imageDetails{ width: 70%; float: left; text-align: left; }	
#imageData #caption{ font-weight: bold;	}
#imageData #numberDisplay{ display: block; clear: left; padding-bottom: 1.0em;	}			
#imageData #bottomNavClose{ width: 66px; float: right;  padding-bottom: 0.7em; outline: none;}	 	

#overlay{ position: absolute; top: 0; left: 0; z-index: 90; width: 100%; height: 500px; background-color: #000; }

.FormHelp{margin: 0px 0px 10px 300px;padding: 0;}
.FormHelpInner{background-color:#ffffff;border:1px solid #000000;    border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;width:360px;padding:5px;margin:10px 0 0 0;color:black;}

#ThemeBox {padding:0;margin:0;text-align:left;width: 170px;}
#ThemeBoxPanel {width: 170px;padding:0;margin:0;}

.DownloadDisabled {font-weight: normal;}

.AltThumb {float:left;padding-right:5px;}

/* single file upload progress bar */
.meter-wrap{position: relative;width:290px;border:1px solid #fff;}
.meter-value {height: 10px;}

.SearchOptionNav {padding:0 20px 5px 0;float:left;}
.dynamickeywords {float:left;}
.keywordsselected {margin-top:10px;}

#ThemeBoxPanel, #SearchBoxPanel, #ResearchBoxPanel, .HomePanelIN, .RecordPanel .RecordDownload, .RecordPanel, .ResourcePanel, .ResourcePanelSmall, .ResourcePanelLarge
	{
	border-radius:5px;	-moz-border-radius: 5px; -webkit-border-radius: 5px;
	}

.TabSelected a 
        {       
        border-top-right-radius:5px;border-top-left-radius:5px; 
        -moz-border-radius-topleft: 5px;-moz-border-radius-topright: 5px; 
        -webkit-border-top-left-radius: 5px;-webkit-border-top-right-radius: 5px;
        }
        
.Tab a 
        {       
        border-top-right-radius:5px;border-top-left-radius:5px; 
        -moz-border-radius-topleft: 5px;-moz-border-radius-topright: 5px; 
        -webkit-border-top-left-radius: 5px;-webkit-border-top-right-radius: 5px;
        }
        
.StyledTabbedPanel 
        {       
        border-bottom-right-radius:10px;border-bottom-left-radius:10px; border-top-right-radius:10px;
        -moz-border-radius-bottomleft: 10px;-moz-border-radius-bottomright: 10px; -moz-border-radius-topright: 10px; 
        -webkit-border-bottom-left-radius: 10px;-webkit-border-bottom-right-radius: 10px;-moz-border-radius-topright: 10px; 
        }
		
#easyTooltip{
	padding:5px;
	background: inherit;
	width: 156px;
	border: 1px solid;
	border-radius:5px;
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px;
    -webkit-box-shadow: 4px 5px 5px rgba(0, 0, 0, .5);
    -moz-box-shadow: 4px 5px 5px rgba(0, 0, 0, .5);
    box-shadow: 4px 5px 5px rgba(0, 0, 0, .5);
	}
	
#advancedTooltip{
	padding:5px;
	background: inherit;
	width: auto;
	max-width: 360px;
	border: 1px solid;
	border-radius:5px;
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px;
    -webkit-box-shadow: 4px 5px 5px rgba(0, 0, 0, .5);
    -moz-box-shadow: 4px 5px 5px rgba(0, 0, 0, .5);
    box-shadow: 4px 5px 5px rgba(0, 0, 0, .5);
	}
	
#LoadingBox
	{
	position: absolute;
	top:300px;
	left: 30%;
	background-color:white;
	width:200px;padding:15px;
	border: 1px solid;
	border-radius:5px;
	font-size:150%;
	
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px;
    -webkit-box-shadow: 4px 5px 5px rgba(0, 0, 0, .2);
    -moz-box-shadow: 4px 5px 5px rgba(0, 0, 0, .2);
    box-shadow: 4px 5px 5px rgba(0, 0, 0, .2);
    z-index:99999;
    line-height:200%;
    color:black;
    display:none;
	}

#LoadingBox img
	{
	float:right;
	vertical-align: middle;
	}

li.plupload_droptext 
	{
	color:#999;
	font-size: 1.1em;
	}
.plupload_file_size{color:#777;}	

 /* Smoothness changes - general */
#pluploader .plupload_header, #pluploader .plupload_add, #pluploader .plupload_start, #pluploader .plupload_file {opacity:1;} 
#pluploader .ui-button-disabled {opacity:.3;}
#pluploader .plupload_header {border-top:0px;border-right:0px;border-left:0px;border-bottom-color:#AAA;background: #e6e6e6 url("smoothness/images/ui-bg_glass_75_e6e6e6_1x400.png") 0% 58% repeat-x;}
#pluploader .plupload_header_content {padding-left:10px}
.plupload_view_list .plupload_message.ui-state-error, .plupload_view_thumb .plupload_message.ui-state-error {background: #fef1ec url("smoothness/images/ui-bg_glass_95_fef1ec_1x400.png") 0% 58% repeat-x;}
.plupload_message.ui-state-error p {color:#555;}
#pluploader .plupload_filelist_footer {border-bottom:0px;border-left:0px;border-right:0px;}
#pluploader .plupload_view_switch{bottom:16px;}
#pluploader .plupload_view_switch .ui-button-icon-only {margin-right:0px;}
 /* Smoothness changes - list view */
.plupload_view_list .plupload_filelist_header {border-top:1px;border-right:0px;border-left:0px;padding-right:15px;}
.plupload_view_list .plupload_filelist_header .plupload_file_action {padding-right:21px;}
.plupload_view_list .plupload_content {top:86px;bottom:41px;overflow-x: hidden;overflow-y: scroll;}
.plupload_view_list .plupload_file {height:28px;padding-bottom:0px;border-top:0px;border-right:0px;border-left:0px;background: #e6e6e6 url("smoothness/images/ui-bg_glass_75_e6e6e6_1x400.png") 0% 54% repeat-x;}
#pluploader .plupload_view_list .plupload_file_action {padding-top:6px;padding-bottom:6px;}
.plupload_view_list .plupload_filelist_footer {padding-right:15px;}
.plupload_view_list .plupload_filelist_footer .plupload_file_action {padding-right:21px;padding-left:6px;}

#showlog {margin-top:10px;}

.ui-layout-toggler-open-hover
	{
	background-color:rgb(160,175,195);
	}
.ui-layout-pane {
    overflow: auto;
    }

.InfoBoxResourceTypeIcon
	{
	float:right;clear:right;padding:10px 0 10px 10px;
	}
.spacer 
    {
    height: 8px;
    }
.BasicsBox h1.CollapsibleSectionHead  
    {
    padding-left: 17px;
    cursor: pointer;
    }
.CollapsibleSectionHead 
    {
    padding-left: 17px;
    cursor: pointer;
    }

h2.CollapsibleSectionHead {
	padding: 0.1em 0 0.5em 17px;
}

.CollapsibleSection 
    {
    margin-bottom: 10px;
    margin:10px 15px 15px 0;
    }

#CommentsPanelHeader { display: table; width: 100%; margin-bottom: 10px; }
#CommentsPanelHeaderRow { display: table-row; }
#CommentsPanelHeaderRowTitle {  }
#CommentsPanelHeaderRowPolicyLink { display: relative; margin-top:-35px;margin-bottom:20px;text-align: right; padding-right: 5px; }
#CommentsContainer { width: 100%;}
.CommentEntry { margin-top: 10px; width: 600px; border: 1px solid lightgray; border-radius: 10px; padding: 5px; }
.CommentEntryInfoContainer {display: table; width: 100%;}
.CommentEntryInfo { display: table-row; width: 100%;}
.CommentEntryInfoCommenter { display: table-cell; width: 150px; }
.CommentEntryInfoCommenterName { font-weight: bolder; }
.CommentEntryInfoCommenterEmail { font-size: 0.7em;}
.CommentEntryInfoCommenterWebsite{ font-size: 0.7em;}
.CommentEntryInfoDetails { display: table-cell; }
.CommentEntryInfoFlag{display: table-cell; text-align: right;}
.CommentFlag{display: inline; padding-left: 16px; background: url('../gfx/interface/FlagOff.png'); background-repeat:no-repeat; background-position: left top; }
.CommentFlagged{display: inline; padding-left: 16px; background: url('../gfx/interface/FlagOn.png'); background-repeat:no-repeat; background-position: left top; }
.CommentBody{width: 100%; margin-top: 5px; margin-bottom: 5px;}
.CommentFlagReason{width: 100%; height: 60px;}
.CommentFlagFullname {margin-top: 5px; width: 150px; font-size: 1em;}
.CommentFlagEmail{margin-top: 5px; margin-left: 5px; width: 150px; font-size: 0.7em;}
.CommentFlagSubmit{margin-top: 5px; margin-bottom: 5px; }
.CommentFormFullname {margin-top: 5px; width: 150px; font-size: 1em;}
.CommentFormEmail{margin-top: 5px; margin-left: 5px; width: 150px; font-size: 0.7em;}
.CommentFormWebsiteURL{margin-top: 5px; margin-left: 5px; width: 150px; font-size: 0.7em;}
.CommentFormSubmit{margin-top: 5px;}
.CommentFormBody {font-size: 0.7em; width: 600px; height: 60px;}

.collectionscompactstylespacer {height:25px;}

.Terms
    {
    color:#000;
    width: 70%;
    max-height: 300px;
    border: 1px solid #ccc;
    background: #fff;
    padding: 6px;
    overflow: auto;
    clear:none;
    }

input 
	{
	font-size: 1em;
	}

#searchbarrt
    {
    margin-top:10px;    
    }

#themeselect {
width: 200px;
font-size: 1em;
margin-bottom:10px;
}

.smalllisticon, .smalllisticonactive, .xlthumbsicon, .xlthumbsiconactive, .smallthumbsicon, .smallthumbsiconactive, .largethumbsicon, .largethumbsiconactive {
width: 20px;
display: block;
height: 20px;
float:left;
}

/* astec migrated 072515 - not sure who's edit this is*/
.InpageNavLeftBlock {
text-align:left;
margin-right: 20px;
margin-bottom: 10px;
}

.icondisplay {
width: 90px;
}

.smalllisticon{background: url(../gfx/interface/listicon.png) no-repeat 0px;}
.smalllisticonactive {background: url(../gfx/interface/listiconactive.png) no-repeat 0px;}
.xlthumbsicon{background: url(../gfx/interface/xlicon.png) no-repeat 0px;}
.xlthumbsiconactive {background: url(../gfx/interface/xliconactive.png) no-repeat 0px;}
.smallthumbsiconactive{background: url(../gfx/interface/smalliconactive.png) no-repeat 0px;}
.smallthumbsicon{background: url(../gfx/interface/smallicon.png) no-repeat 0px;}
.largethumbsicon{background: url(../gfx/interface/largeicon.png) no-repeat 0px;}
.largethumbsiconactive{background: url(../gfx/interface/largeiconactive.png) no-repeat 0px;}

#contactadminbox  textarea{
	width:100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin-right: 5px;
	}
	
.contactadminbutton  {
	float:right;
	margin-bottom: 10px;	
	margin-left: 10px;
	width: 150px;
	}

#ssearchbox {margin-top:10px;}

.CollectionsCompactToolsContainerDummy, .CollectionsCompactToolsContainer {display:inline-block;}
#GeoDragMode{margin-bottom: 10px;}

.sharerelatedresources {
	float: left;
	width: 65%;
	}	
	
.sharerelatedtype .CollectionPanelShell{
	height: 150px;
	}

.sharerelatedresources .Title {
	margin-bottom: 10px;
	font-weight: bold;
	}

/*Accessibility (screen readers)*/
.accessibility-hidden {
	height: 1px;
	width: 1px;
	position: absolute;
	left: -10000px;
	top: auto;
	overflow: hidden;
}
.collectionin {
	text-align: center;
}
.ViewPanelTitles {
    clear: left;
   padding:0.1em 0 0.5em;margin:0 0 10px;
}
.ViewPanelTitles .Title {
    border-bottom: 0;
    display: inline-block;
    margin: 0;
    padding: 0;
    margin-right: 36px;
    padding-bottom: 5px;
    opacity: 0.4;
    cursor: pointer;
}
.ViewPanelTitles .Selected {
    opacity: 1;
}
#submissionResponse {padding-left: 300px;}

.upload_results {
    margin-top: 10px;    
}
.SearchResultsCollectionCompactTools {display:inline-block;}

#merge_filename_title_container {
	float: left;
}

#merge_filename_title_spacer {
	width: 30px;
	text-align: center;
}

.ui-sortable-helper{
    border: 2px solid;
}